.content {
  padding: 0 12px!important;
}
.font-1 {
  color: #333333!important;
}
.font-2 {
  color: #666666!important;
}
.font-3 {
  color: #999999!important;
}
.defalut-bg {
  background-color: #F5F7FA!important;
}